







@media screen and (max-width:900px) {


    .nav_bar{
        margin: 0;
        position: fixed;
        top: 0;left: 0;right: 0;
    }
    
    .logo_harmburger{
        /* border: 2px solid blue; */
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-between;
        background-color: white;
        box-shadow: 0px 2px 18px 0px rgb(129 162 182/20%);
        padding: 10px;
    }
    
    
    .harmburger{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    .harmburger .lines{
        height: 5px;
        width: 30px;
        border-radius: 2px;
        background-color: var(--text-color);
    }
    
    .links{
        /* border: 2px solid red; */
        display: none;
        width: 100%;
        position: absolute;
        right: 0px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px;
        background-color: var(--text-color);
        transition: all .75;
    }
    .linkedIn{
        display: flex;
    }
    .links li{
        list-style: none;
    }
    .links li button{
        border: none;
        background-color: var(--text-color);
        color: var(--bg-color);
        transition: all .75;
    }
    .links li button:hover, .links li #home{
        border-bottom: 2px solid var(--text-color);
    }
    
    .faq_contents div{
        font-size: 1rem !important;
        text-align: center !important;
    }

}
