/* ..........whole page frame ..... */
#about{
    min-height: 101vh;
    width: 100%;
    margin: 0;
    /* border: 2px solid red; */
    background-image: url(/foods/food2.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.893);
    position: absolute; 
    background-blend-mode: soft-light;
    background-size: contain;
    background-attachment: fixed;
    z-index: -1;
    font-family: cursive;
    font-weight: bolder;
    text-decoration: none;
    animation-name: about;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@keyframes about {
    0%{
        z-index: -1;
    }
    90%{
        z-index: -1;
    }
    100%{
        z-index: 1;
    }
}

/* .......logo..... */

.logo{
    position: relative;
    font-family: cursive;
    transition: all 2s;
    animation-name: ALLAHISRABB;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-image: linear-gradient(-225deg,red,green, blue, yellow, pink);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: white;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.logo span:first-child{
    font-size: 18px;
}
.logo span:nth-child(2){
    font-size: 20px;
}
.logo span:nth-child(3){
    font-size: 22px;
}
.logo span:nth-child(4){
    font-size: 24px;
}
.logo span:nth-child(5){
    font-size: 26px;
}
.logo span:nth-child(6){
    font-size: 28px;
}
.logo span:nth-child(7){
    font-size: 26px;
}
.logo span:nth-child(8){
    font-size: 24px;
}
.logo span:nth-child(9){
    font-size: 22px;
}
.logo span:nth-child(10){
    font-size: 20px;
}
.logo span:nth-child(11){
    font-size: 18px;
}
.logo span{
    font-family: cursive;
    font-weight: bolder;

}

/* ...........page starts here....... */

.content-holder{
    width: 97%;
    margin-top: 1rem;
    border: blue;
    background-color: rgba(0, 0, 0, 0.874);
    background-image: url(/foods/food2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 25px;
    height: 100%;
    background-blend-mode: soft-light;
}
.content-holder-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
}
.content-holder-nav .navigate li{
    display: inline;
    padding: 5px;
}
.content-holder-nav .navigate + .nav-end{
    display: flex;
    gap: 10px;
}
.content-holder-nav .navigate + .nav-end .nav-end-child{
    padding: 5px;
}
#harmburger{
    display: none;
    flex-direction: column;
    gap: 2px;
}
#harmburger span{
    height: 5px;
    width: 30px;
    background-color: black;
    border-radius: 5px;
}

@media screen  and (max-width:900px) {
    #harmburger{
        display: flex;
        flex-direction: column;
        position: relative;
        top: -200%;
        float: right;
        z-index: 2;
        padding: 5px;
        background-image: linear-gradient(white,black);
    }
    .slideout{
        left: 0% !important;
    }
    .content-holder-nav{
        display: block;
    }
    .content-holder-nav .navigate + .nav-end{
        display: none;
    }
    .content-holder-nav .logo{
        float: left;
        display: inline;
    }
    .content-holder-nav .navigate{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        background-color: rgba(255, 228, 196, 0.76);
        position: fixed;
        left: 100%;
        top: 0%;
        z-index: 1;
        transition: all 1s;
    }
}
.contents{
    margin-top: 1rem;
    color: white;
    text-align: center;
    min-height: 70vh;
}

/* ...footer ....  */
#image-footer{
    margin-top: 1rem;
    background-color: white;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
}
#image-footer img{
    width: 1rem;
    height: 1rem;
    margin: 5px;
}
#main-footer{
    width: 97%;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 0px;
}
#main-footer #copyright{
    margin: 10px;
    font-size: large;
    font-weight:  bolder;
}