#profile{
    min-height: 100vh;
    width: 100%;
    margin: 0;
    border: 2px solid red;
    background-image: url(/foods/food2.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.893);
    position: absolute; 
    background-blend-mode: soft-light;
    background-size: contain;
    background-attachment: fixed;
    z-index: -1;
    font-family: cursive;
    font-weight: bolder;
    text-decoration: none;
    animation-name: profile;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes profile {
    0%{
        z-index: -1;
    }
    90%{
        z-index: -1;
    }
    100%{
        z-index: 1;
    }
}